# macOS system files
.DS_Store

# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Uploads folder (temporary images)
Backend/uploads/

# Build files
Frontend/dist/

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# Logs
*.log
npm-debug.log*